<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the blog!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
    </div>
    <div class="row">
        <h1> Welcome to your Blog! </h1>
        <div>
            <button id="create-btn1">Create Post<span></span></button>

        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Category1</a>
                <a class="dropdown-item" href="#">Category2</a>
                <a class="dropdown-item" href="#">Category3</a>
            </div>
        </div>
    </div>


    <ul>
        <div class="container">
            <div class="row">
                <h3> New Blog Post </h3>
            </div>

    </ul>

</div>