<div class="row">
    <h1> Welcome to your Blog! </h1>
    <a href="/post"><button type="button" class="btn btn-secondary">Create Post</button></a>
    <div class="dropdown">
      
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Category1</a>
            <a class="dropdown-item" href="#">Category2</a>
            <a class="dropdown-item" href="#">Category3</a>
        </div>
    </div>
</div>


<ul>
    <div class="container">
    <div class="row">
        <h3> New Blog Post </h3>
    </div>

</ul>

</div>

