<div class="row">
    <h1> Create A New Post! </h1>
<a href="/"><button type="button" button id="home-btn" class="btn btn-secondary">Home</button></a>
</div>
<div class="container">
<div class="row">
    <h3> Select a Layout! </h3>
</div>
</div>
<div class="row">
    <button id="layout1-btn"> Layout 1 </button>

    <button id="layout2-btn"> Layout 2 </button>

    <button id="layout3-btn"> Layout 3 </button>
</div>

{{!-- layout input field  --}}

<div class="container">
    <div class="row" id="input-div">
        {{!-- <form>
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" id="title-input">
                <label>Header 1</label>
                <input class="form-control" id="header1-input">
                <label>Text 1</label>
                <textarea class="form-control" id="text1-input" rows="3"></textarea>
                <label>Img1</label>
                <input class="form-control" id="img1-input">
                <label>Text 2</label>
                <textarea class="form-control" id="text2-input" rows="3"></textarea>
                <label>Img2</label>
                <input class="form-control" id="img2-input">
                <label>Category</label>
                <input class="form-control" id="category">
            </div>
        </form> --}}
    </div>
</div>
