<div class="row">
    <h1> Create A New Post! </h1>
</div>
<div class="row">
    <h3> Select a Layout! </h3>
</div>
<div class="row">
    <button id="layout1-btn"> Layout 1 </button>

    <button id="layout2-btn"> Layout 2 </button>
</div>