* { box-sizing: border-box; }
body {
  background-color: green;
  display: grid;
  place-items: center;
  height: 100vh;
    
} 
/* Button styling */
  #create-btn1 {
    border: none;
    display: block;
    position: relative;
    padding: 0.5em 2.2em;
    font-size: 25px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    color: royalblue;
    overflow: hidden;
}

#create-btn1 span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 5px solid royalblue;
}

#create-btn1 span::before {
    content: "";
    position: absolute;
    width: 8%;
    height: 500%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all .3s;
}

#create-btn1:hover span::before, #create-btn1:focus span::before{
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue
}

#create-btn1:hover, #create-btn1:focus{
    color: rgb(3, 3, 3);
}


li {
    padding: 5px;
    margin: 5px;
    background: black;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(10, 10, 9);
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  


  .jumbotron {
    background-image: url('blogging_image.jpg');
  }
  .display-4 {
    margin: auto;
    color: blue;
    text-align: center; 
  }
  
  .carousel-inner {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
  }

 