body {
    background-color: lightblue;
}
li {
    padding: 5px;
    margin: 5px;
    background: black;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(10, 10, 9);
  }
  
  .form-group {
    margin-bottom: 5px;
  }

